<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="test" value="Prueba de lectura"/>
		<add key="ruta" value="C:\\Users\\Adri\\Desktop\\WebApplication1\\APICalle\\test.xml"/>
		<add key="pizzeria" value="C:\\Users\\Adri\\Desktop\\WebApplication1\\APICalle\\testpizza.xml"/>
	</appSettings>
</configuration>

